@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');


.indexCoverBack {
  background-image: url("https://images3.alphacoders.com/268/268495.jpg");
  height: auto;
  padding-bottom: 100px;
  background-attachment: fixed;
}

.backgroundCover {
  background-color: rgba(0, 0, 0, 0.801);
  border-radius: 20px;
  padding-top: 10px;
}

.boxGameCustom {
  background-color: #242424;
  box-shadow: 10px 10px #00FF7F;
  color: white;
  font-family: "VT323", monospace;
  font-size: 20px;
}

/* Textos, Titulos, P.*/
.titleCover {
  text-align: center;
  font-size: 60px;
  color: #FF0080;
  background-color: rgba(0, 0, 0, 0.534);
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  line-height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Pixelify Sans', sans-serif;
}

.titleCover .span {
  color: #32CD32;
}

/* Section Contact*/
.sectionContact {
  background-color: #242424;
  color: white;
  font-family: "VT323", monospace;
  font-size: 30px;
}

/* Botones Custom */

.buttonCustom {
  background-color: #339233;
}

.buttonCustom:hover {
  background-color: #155837;
}

/* End Botones Custom */