@tailwind base;
@tailwind components;
@tailwind utilities;

.indexCoverBack {
  background-image: url("https://images3.alphacoders.com/268/268495.jpg");
  height: auto;
  padding-bottom: 100px;
  background-attachment: fixed;
}

.backgroundCover {
  background-color: rgba(0, 0, 0, 0.801);
  border-radius: 20px;
}

.boxGameCustom {
  background-color: #242424;
  box-shadow: 10px 10px #00FF7F;
  color: white;
  font-family: "VT323", monospace;
  font-size: 20px;
}

/* Footer */

/* Footer */
.footerCustom {
  background-color: #242424;
  font-family: "VT323", monospace;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.footerCustomRS {
  color: #FF0080;
}

.footerCustomRS:hover {
  transition: 0.5s;
  color: #32CD32;
}

/* End Footer */